*{ 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  ;
}


h1{

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color:#0b1d3a;
color: white;
}


#titulo{
    text-align: center;
    margin: 13px;
    
    

}

header{
background-color:#0b1d3a;
    height: 120px;
    display: flex;
    flex-direction: column; /* Título arriba y nav abajo */
    align-items: center; /* centrar contenido */
    justify-content: center;
    border: 3px solid #87ceeb;
}


nav{  display: flex;
    justify-content: center;
    gap: 70px;
    border: none;
    background-color: #0b1d3a;
    
}

button{
    border-radius: 25px;
    padding: 12px;
    background-color:  #00F5FF;
    color: black;
    cursor: pointer;
    
}



button:hover{
    touch-action:manipulation;
    background-color: aquamarine;
    border-color: aquamarine;
}

#hdos{

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
font-size: 30px;
color: black;
}




.carrusel {
width: 100%;
overflow: hidden;
border-radius: 10px;
}

.imagenes {
display: flex;
gap: 15px; /* 👈 separación entre imágenes */
animation: mover 20s linear infinite; /* velocidad del carrusel */
}

.imagenes img {
width: 300px;
height: 200px;
object-fit: cover;
border-radius: 10px;
}

/* Animación: desplazar solo la mitad (porque duplicamos imágenes) */
@keyframes mover {
0%   { transform: translateX(0); }
100% { transform: translateX(-50%); }
}

a{
background-color: #0b1d3a;
}

#galeria{
padding: 70px;
background-color: bisque;

}


.container{
    align-items: center;
    justify-items: center;
    
    
    
}


input{
font-size: 16px;
display: block;
color: black;
text-align: center;
cursor:text;
border-radius: 8px;
padding: 12px;
margin: 10px;
width: 40%;
border:1px solid #d9d9d9

}

textarea{
    font-size: 16px;
    align-items: center;
    display: block;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    width: 40%;
    border: 1px solid #d9d9d9;
    text-align: center;
    cursor: text;

}

.enviar{
color: white;
border-radius:5px;
padding: 4px;
background: #58dc58;
border:1px solid black;
cursor:pointer;

}


.enviar:hover{
background-color:  #58dc58;
touch-action: manipulation;
border-color: white;


}


.tableta{
align-items: center;
width: 40%;
text-align: center;
margin: 30px;
border: 1px solid #d9d9d9;
border-radius: 5px;

}

.fotomia{

    width: 300px;    
    height: 330px;
    
    position: absolute;
    right: 0;
    background-color: seashell;
    
}

#hojadevida{
background-color: bisque;
text-align: center;


}

.fotomia2{
width: 300px;
height: 330px;
left: 0px;
position: absolute;



}